<ul id="menu">
  <li><a routerLink="/collections/Anarkali+Suit">Anarkali Suits</a></li>
  <li><a routerLink="/collections/Lehanga">Lehangas</a></li>
  <li><a routerLink="/collections/Long+Frock">Long Frocks</a></li>
  <li>
    <a>Salwar Kameez</a>
    <ul>
      <li>
        <a
          routerLink="/collections/Salwar+Kameez-Patiyala+Suit"
          class="innerlinks"
          >Patiyala Suits</a
        >
      </li>
      <li>
        <a
          routerLink="/collections/Salwar+Kameez-Sharara+Suit"
          class="innerlinks"
          >Sharara Suits</a
        >
      </li>
      <li>
        <a
          routerLink="/collections/Salwar+Kameez-Palazzo+Suit"
          class="innerlinks"
          >Palazzo Suits</a
        >
      </li>
      <li>
        <a routerLink="/collections/Salwar+Kameez-Pant+Suit" class="innerlinks"
          >Pant Suits</a
        >
      </li>
      <li>
        <a
          routerLink="/collections/Salwar+Kameez-Straight+Suit"
          class="innerlinks"
          >Straight Suits</a
        >
      </li>
      <li>
        <a
          routerLink="/collections/Salwar+Kameez-Churidar+Suit"
          class="innerlinks"
          >Churidar Suits</a
        >
      </li>
    </ul>
  </li>
  <li><a routerLink="/collections/Crop+Top">Crop Tops</a></li>

  <li>
    <a>Blouses</a>
    <ul>
      <li>
        <a routerLink="/collections/Pattern+Blouse" class="innerlinks"
          >Pattern Blouses</a
        >
      </li>
      <li>
        <a routerLink="/collections/Bridal+Blouse" class="innerlinks"
          >Bridal Blouses</a
        >
      </li>
      <li>
        <a class="innerlinks">Designer Blouses</a>
        <ul>
          <li>
            <a
              routerLink="/collections/Designer+Blouse-Boat+Neck"
              class="innerlinks"
              >Boat neck</a
            >
          </li>
          <li>
            <a
              routerLink="/collections/Designer+Blouse-High+Neck"
              class="innerlinks"
              >High neck</a
            >
          </li>
          <li>
            <a
              routerLink="/collections/Designer+Blouse-Halter+Neck"
              class="innerlinks"
              >Halter neck</a
            >
          </li>
          <li>
            <a
              routerLink="/collections/Designer+Blouse-Stand+Collar"
              class="innerlinks"
              >Stand Collar</a
            >
          </li>
          <li>
            <a
              routerLink="/collections/Designer+Blouse-Double+Collar"
              class="innerlinks"
              >Double Collar</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li><a routerLink="/collections/Kids+Wear">Kids Wear</a></li>

  <li>
    <a>Inner Wear</a>
    <ul>
      <li>
        <a>Bras</a>
        <ul>
          <li>
            <a
              routerLink="/collections/Inner+Wear-Padded+Bra"
              class="innerlinks"
              >Padded Bras</a
            >
          </li>
          <li>
            <a routerLink="/collections/Inner+Wear-Sport+Bra" class="innerlinks"
              >Sport Bras</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Panties</a>
        <ul>
          <li>
            <a
              routerLink="/collections/Inner+Wear-Plane+Pantie"
              class="innerlinks"
              >Plane Panties</a
            >
          </li>
          <li>
            <a
              routerLink="/collections/Inner+Wear-Printed+Pantie"
              class="innerlinks"
              >Printed Panties</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/collections/Inner+Wear-Slip" class="innerlinks"
          >Slips</a
        >
      </li>
      <li>
        <a routerLink="/collections/Inner+Wear-Full+Slip" class="innerlinks"
          >Full Slips</a
        >
      </li>
      <li>
        <a routerLink="/collections/Inner+Wear-Nighty+Slip" class="innerlinks"
          >Nighty Slips</a
        >
      </li>
      <li>
        <a routerLink="/collections/Inner+Wear-Cycling+Short" class="innerlinks"
          >Cycling Shorts</a
        >
      </li>
      <li>
        <a
          routerLink="/collections/Inner+Wear-Bloomer+Pantie"
          class="innerlinks"
          >Bloomer Panties</a
        >
      </li>
      <li>
        <a
          routerLink="/collections/Inner+Wear-Mother+Nightie"
          class="innerlinks"
          >Mother Nighties</a
        >
      </li>
    </ul>
  </li>
</ul>
