<div class="fix">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">.</li>
      <li data-target="#myCarousel" data-slide-to="1">.</li>
      <li data-target="#myCarousel" data-slide-to="2">.</li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active container-fluid">
        <img
          src="https://lh3.googleusercontent.com/Yn62qLCxtCxmhGDORmjxqC2JVlbMlbxHUK5Fj1D3mWQrkbSOaGbzvjdj9waRMyoUzfmSzbFaFPM0fbSkuYGGWqGoMKD1s4R3b4yNCO9ilOq0MGhQcKS0nuxpF8jizOgfqRhYne4OAl6HhYUAHH_zu8iLU8OSI9xdmNWUQS58oDNZQLrek2QsxOYc5vhSF7_JWfXDehichangcogmu2KuIsYRkm47euDqgEnEwIOFZajdHz2MISrbAE_CyA2fV9aJdMCFiMclpUFmdN8bWf0xE0KHLh5UdmCgjRLSa9GaR9aLKGvUrM9xpZ7FCBVEwgKJEx0jT6tFJAe33ulG1GXhizhf9E-oxLERRAsWse-WyBeGD-dGEh4lkdi4TokU4S9odYP1jxiW3BNfPe0ihW4tQ2HFavXaaG3OtO7mkZPdMhQsZDv217uUkrVMhka4BNcp-XZS0XJL7iBMpNBqg4gOUm070Po4fzMj6czxclc6LA41w4dS2KzQOY6x1egMcuA_zUtjE1eaI5RQNKQcm1qLBczXYCt9vEeXCu0-sLBQDfosYOg3aGBmq1qi4NElIQegeoP86db6hBYXhIMuFU9_CyTYpMg-uA2MMGL2ZZxryZeK_4O3PmK2L0s0nPNvN6hZQKm7Q1dnbTZxCJYDewWPW-zpuNjYpNXftFqKr9ErBy5mpu_0Vzwr7AzmSMmqvQ=w1500-h900-no?authuser=0"
          alt="Los Angeles"
          style="width: 100%;"
        />
        <div class="leftmiddle">
          <p class="designtitle">
            Designing<br />
            Dreams.
          </p>
        </div>
      </div>

      <div class="item">
        <img
          src="https://lh3.googleusercontent.com/TQnA8IrvALxqXD3nG5LbfBvqk_8rSlKH8jUsMjF9SdT7W_jZzciMjLceSstP0zqKYIC1CM6RSYY6wtP9_jbBEumw7Q1obHVNWRliGWEH-TQ7PJegTTO56xXA7jVwgIny-jPTU5QhZla_RzmixB0SP61vOd-dbRGVZwNtW6zdyj8hOs0MduSXwWuEzXij0qSg84UC8OqHrT9IUx4v34l_f32WjAS0sYYEOH4P4jNcGLIuZgd19amj6bhdp24d7zqmvuzHjF-TIU0CF7W2gwf2xvKUH3Mxvf5eEJ1Tv01FV3ewvmq8C220_BznBgYJV9w4GDLmZFWLuT221zT2p2XpWP3auU-u1c_NaOf0OlQx1B0lRSux2fhaoy07-S5tg4-xLEWKCXgUQjiOXJBS82c1UllCyMxRgxLTbBj-cnRk02mwkbyF3O2FLunrXnWNCuhD6b5vZzM3l1ml-ElxG_wOmXnJsDS2dy03NFT7F8Ob4oxOVgOCwAtjqfwLjQDEWJ13K40NFCfS69d5-A2gvI4Gk6nW72_EryfquHlMuVaRg_1xoIU6djGFOpkJ513uG-F6Bz5QE6EetTjpo-VM3oST2Ad5K6SmNKJJBIHFdqquSsFM9UyWphMSM3ysxVoe5P_PS6fbOggvc_hJFDOS2iWpIpZkBZ2bbgJ4A-5HBIY-ms5_3Mn1BYAtTSFGcvjyig=w1500-h900-no?authuser=0"
          alt="Chicago"
          style="width: 100%;"
        />
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img
          src="https://lh3.googleusercontent.com/-HdbGOwYP-mcEa37pmrASgsN_r6ocig568kEICvfH0lI8P3Hpvel9RBJBXcpKgca9iLP8Tz7keD3wt6A0uoWdwf259E_SENGhD8rJdxvwxZHEhKQQXKUTfV4vGxSZlw-kiUx_UvMIZ6hhhnQIrrIgqa4s9NWBnVhuyxu8DKTn6PR2AfxsnUJ3yC_AcMu4m_CaFZUc0A4PvWISKnnaPp-lIXZ21zZq-rA3fIisys1i-wHlyqfc7Rf34qIO6s0b02ZX5DNfRamtqDiPBY5u8VKEUd43SeakkJIETpMlzzKS_dtz_FWePRV6yLz-M9RWEm2-paZtED-tJXdtj5DxNcm4GWo-GV9Z7DmOxK4vhdL7XgdU95KOOnpIpzMbk20iFq4Xfdv70d4m_eGUaRySKR_H0GLuG9oLX3ghIp9u30Ul3eu6pyx7UsXZVjxJU-KBChXyu2O47G8KtqKfV5jyfuOSvk4EPAC-TUEELSl_eo6UdMgSukbQFHVXlMGE8mZwwn-xnZCTVOI6LxVnY6HX9XVbvdPzPK1Hb19uPti1anjCs9GBDOyo9rM7Wi1tfR4nV7yZ06UMO3IeBUpxKxMd0Y-uJhd2GWYYFSlXR5xVYKoL6VvypyXpQom2tus2sotdU4unotLtTF9--zeSZ7384s6_93ROI17g9mZ2a4s03E_iRLKUL0nfqeRciR3bDNh4w=w567-h340-no?authuser=0"
          alt="New York"
          style="width: 100%;"
        />
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"> </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"> </a>
  </div>
</div>
<br /><br /><br />
<div class="jumbotron container-fluid text-center">
  <h1>asidgf</h1>
</div>
